/* the job-boards "builder" component */
joblist-boards {
	:is(form) {
		display: flex;
		position: sticky;
		top: 0;
		padding: calc(var(--s) / 3);
		background-color: var(--c-bg);
	}
	:is(input, select) {
		padding: calc(var(--s) / 3);
	}
	:is(input) {
		flex-grow: 1;
		width: 100%;
		background-color: transparent;
		color: var(--c-fg);
	}
	:is(textarea) {
		min-height: 5rem;
		white-space: pre-wrap;
		word-break: break-all;
		padding: var(--s);
		color: var(--c-fg);
		font-size: 1rem;
		min-height: calc(var(--s) * 6);
		background-color: transparent;
		border: 1px solid var(--c-fg);
		margin-bottom: 0;
		margin: calc(var(--s) / 2) 0;
		cursor: copy;
	}
	&::before {
		display: block;
		font-style: italic;
		color: var(--c-fg);
	}
	&[provider-hostname][provider-name]::before {
		content: "Copy this HTML code, into the HTML code of any webpage";
	}
	&:not([provider-hostname]):not([provider-name])::before {
		content: "Snippet will be displayed below (fill in a provider name and hostname)";
	}
	&:not([provider-name])::before {
		content: "Select a provider-name";
	}
	&:not([provider-hostname])::before {
		content: "Enter a provider-hostname (the project/company ID found in the provider job-board's URL of the provider site)";
	}
	display: flex;
	flex-direction: column;
}

joblist-board {
	padding: var(--s);
	display: flex;
	flex-direction: column;
}

joblist-board-job {
	:is(joblist-board-job-name) {
		margin-right: 0.5rem;
	}

	:is(joblist-board-job-location) {
		margin-right: 0.5rem;
	}
	display: block;
	margin-bottom: 0.5rem;
}
