joblist-company {
	&:is([full]) {
		flex-wrap: nowrap;
	}
	&:is(:not([full])) {
		flex-wrap: wrap;
	}
	:is(menu) {
		:is(li) {
			display: flex;
		}
		:is(a) {
			padding: calc(var(--s) / 5);
		}
	}
	:is(summary) {
		padding: calc(var(--s) / 4);
	}
	:is(joblist-giscus, joblist-company-edit) {
		:is(details) {
			&:is([open]) {
				background-color: var(--c-bg);
			}
			flex-grow: 1;
		}
		:is(summary) {
			text-align: right;
		}
		display: flex;
		justify-content: flex-end;
		margin: calc(var(--s) / 4);
	}
	display: flex;
	flex-direction: column;
	padding: calc(var(--s) / 2);
}
joblist-company {
	&:is([is-highlighted="true"]) {
		:is(joblist-company-title a) {
			border-right: 1px dashed var(--c-link);
			padding-right: var(--s);
		}
	}
}

/* chidlren dom */
joblist-company-title {
	:is(h1) {
		margin: 0;
	}
	&:has(joblist-highlight) {
		text-decoration: underline;
		text-decoration-thickness: 0.1rem;
		text-decoration-color: var(--c-link);
	}
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
joblist-company-tags {
	:is(menu) {
		:is(joblist-company-tag) {
			:is(a) {
				&::before {
					content: "#";
				}
			}
			display: flex;
		}
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		font-style: italic;
	}
}
joblist-company-description {
	:is(joblist-company:not([full])) & :is(p) {
		margin: 0;
		text-overflow: "…";
		overflow: hidden;
	}
	max-width: var(--s-container);
}
joblist-company-links {
	:is(menu) {
		margin-right: var(--s);
		display: flex;
		flex-wrap: wrap;
	}
	display: flex;
	flex-wrap: wrap;
}

joblist-company-widgets {
	:is(joblist-heatmap, joblist-map-list) {
		flex-basis: 50%;
	}
	display: flex;
	flex-wrap: wrap;
}

joblist-company-edit {
	:is(menu) {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}
