/* defaults */
html {
	font-size: var(--s-font);
	font-family: var(--font-family);
	background-color: var(--c-bg);
	color: var(--c-fg);
}
@media (min-width: 60rem) {
	html {
		font-size: 19px;
	}
}
@media (min-width: 100rem) {
	html {
		font-size: 20px;
	}
}

/* resets */
body {
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
ul,
ol {
	padding-left: calc(var(--s) * 1.5);
}
a {
	text-decoration: none;
}
a,
a:visited {
	color: var(--c-link);
}
a:active,
a:hover {
	color: var(--c-link--active);
}

form {
	:is(input, textarea) {
		background-color: var(--c-bg);
		color: var(--c-fg);
		border-color: var(--c-company);
		padding: calc(var(--s) / 3);
	}
	:is(input):focus-visible {
		outline: var(--outline-width) solid var(--c-company);
	}
	:is(fieldset) {
		:is(input, textarea, select, option) {
			font-size: 1rem;
		}
		:is(input, textarea) {
			flex-grow: 1;
			width: 100%;
		}
		:is(textarea) {
			min-height: calc(var(--s) * 3);
			resize: vertical;
		}
		:is(button) {
			background: transparent;
			color: var(--c-fg);
		}
		& + :is(fieldset) {
			margin-top: calc(var(--s) / 4);
		}
		border: none;
	}
}

button {
	cursor: pointer;
	padding: calc(var(--s) / 3) calc(var(--s) / 2);
	border-width: var(--s-border);
	background-color: var(--c-bg);
	border-radius: var(--s-border-radius);
	color: var(--c-fg);
}
menu,
ol,
ul {
	padding: 0;
	margin: 0;
	list-style-position: inside;
}

img,
video {
	max-width: 100%;
}

details {
	:is(summary) {
		cursor: pointer;
	}
}
