/* defaults */
html {
	font-size: var(--s-font);
	font-family: var(--font-family);
	background-color: var(--c-bg);
	color: var(--c-fg);
}
@media (min-width: 60rem) {
	html {
		font-size: 19px;
	}
}
@media (min-width: 100rem) {
	html {
		font-size: 20px;
	}
}

/* resets */
body {
	margin: 0
}
h1, h2, h3, h4, h5, h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}
ul, ol {
	padding-left: calc(var(--s) * 1.5);
}

a,
a:visited {
	color: var(--c-link);
}
a:active,
a:hover {
	color: var(--c-link--active);
}

/* forms */
input,
textarea {
	background-color: var(--c-bg);
	color: var(--c-fg);
	border-color: var(--c-company);
	padding: calc(var(--s) / 3);
}
input:focus-visible {
	outline: var(--outline-width) solid var(--c-company);
}
button {
	cursor: pointer;
	padding: var(--btn-padding);
}
menu {
	padding: 0;
	margin: 0;
}
