joblist-heatmap {
	:is(svg) {
		border-radius: var(--s-border-radius);
	}
	:is(figure) {
		:is(.joblist-legend-ramp) {
			order: 1;
			/* max-width: calc(var(--s) * 10); */
			position: sticky;
			left: 0;
			padding: calc(var(--s) / 3);
		}
		:is([class^="plot-"]) {
			/* width: 100%; */
			/* min-width: 100%; */
		}
		display: flex;
		flex-direction: column;
		display: flex;
		overflow-x: scroll;
		margin: 0;
	}
	&:is([show-legend="false"]) {
		:is(.joblist-legend-ramp) {
			display: none;
		}
	}
	display: flex;
	max-width: clamp(90vmin, calc(100vmin - (var(--s) * 10)));
	padding: calc(var(--s) / 2);
}
