joblist-icon {
	:is(.icon) {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: calc(var(--s) / 3);
		padding: calc(var(--s) / 3);

		:is(.icon-svg) {
			:is(svg) {
				width: 1em;
				height: 1em;
				stoke: currentColor;
				flex-shrink: 0;
			}
		}
		:is(slot) {
			color: red;
		}
	}

	/* Size variants */
	&:is([size="small"]) {
		font-size: 16px;
	}

	&:is([size="medium"]) {
		font-size: 24px;
	}

	&:is([size="large"]) {
		font-size: 32px;
	}
}
