joblist-icon {
	:is(.icon) {
		display: inline-flex;
		padding: calc(var(--s) / 5);

		:is(.icon-svg) {
			:is(svg) {
				width: 1em;
				height: 1em;
				stroke: inherit;
				flex-shrink: 0;
			}
		}
	}
}
