joblist-job {
	display: flex;
	flex-wrap: wrap;
	padding: calc(var(--s) / 2);
}
joblist-job-company-title,
joblist-job-name,
joblist-job-location {
	margin-right: calc(var(--s) / 3);
}
joblist-job-location {
	/* text-decoration: underline; */
}

joblist-job-published-date {
	font-style: italic;
}
