joblist-job {
	display: flex;
	flex-wrap: wrap;
}
joblist-job-company-title,
joblist-job-name,
joblist-job-location {
	margin-right: calc(var(--s) / 3);
}
joblist-job-location {
	/* text-decoration: underline; */
}

joblist-job-published-date {
	font-style: italic;
}

joblist-job-description {
	word-break: break-word;
	flex-basis: 100%;
	color: var(--color-text-secondary);
	font-size: 0.9em;
	line-height: 1.4;
}
