:root[joblist-layout] {
	:is(body) {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		margin: 0;
	}
	height: 100%;
	display: flex;
}

joblist-layout {
	:is(joblist-search) {
		width: 100%;
		align-self: center;
		position: sticky;
		top: 0;
	}
	:is(joblist-page, joblist-map-list) {
		flex-grow: 1;
	}
	:is(joblist-page) {
		&:is([full]) {
			display: flex;
			flex-direction: column;
		}
		&:is(:not([full])) {
			padding: calc(var(--s) / 2);
		}
		:is(h1:first-of-type) {
			margin-top: 0;
		}
		display: flex;
		flex-direction: column;
	}
	:is(joblist-menu) {
		position: sticky;
		top: 0;
		max-height: 100vh;
		background-color: var(--c-bg);
		display: flex;
		flex-direction: column;
	}
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/* menu */
/* Define a CSS variable */
joblist-layout {
	--favicon-url: "https://s2.googleusercontent.com/s2/favicons?domain=";
	:is(a[data-icon]) {
		&:is([data-icon="company_url"]) {
			&::before {
				content: "";
				width: var(--s);
				height: var(--s);
				/* Use the custom property within attr() */
				background-image: url(var(--favicon-url)"https://joblist.today/favicon.png");
				/* Other styles */
			}
		}
	}
}

/* layouting with div and their attributes */
joblist-layout {
	:is(div) {
		&:is([row]) {
			&:is([padding]) {
				& > :is(*) {
					padding: calc(var(--s) / 2);
				}
			}
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}
@media (min-width: 40rem) {
	joblist-layout {
		/* flex-direction: row; */
		/* align-items: flex-start; */
	}
}
