html,
body,
joblist-layout {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}

joblist-layout:not([full]) {
	padding: calc(var(--s) / 2);
}

joblist-layout joblist-search {
	width: 100%;
	align-self: center;
	position: sticky;
	top: 0;
}

joblist-layout joblist-map-list {
	flex-grow: 1;
}
