body.joblist-layout,
joblist-layout,
body:not(.joblist-layout) {
	--ohq-size-sidebar: calc(var(--s) * 15);
	--ohq-size-center: 100%;
}

/* not to pollute "html, body" with styles */
joblist-layout,
body.joblist-layout,
body:not(.joblist-layout) {
	:is(#observablehq-sidebar-toggle) {
		display: none;
	}
	:is(#observablehq-sidebar-backdrop) {
		/* background-color: var(--c-bg); */
		cursor: pointer;
		&:not(:checked)::before {
			content: "≣";
			padding: calc(var(--s) / 5);
			font-size: 1.5rem;
		}
	}
	:is(#observablehq-sidebar-toggle, #observablehq-sidebar-backdrop) {
		position: sticky;
		top: 0;
		left: 0;
	}
	:is(#observablehq-sidebar) {
		background-color: var(--c-bg);
		padding: calc(var(--s) / 2);
		z-index: 2;
		max-width: var(--ohq-size-sidebar);
		margin: 0.2rem;
		border-radius: 0.2rem;
		:is(ol) {
			list-style: none;
		}
		:is(details + details, ol + ol) {
			margin-top: calc(var(--s) / 3);
		}
	}
	:is(#observablehq-toc) {
		:is(nav):empty {
			display: none;
		}
		@media (min-width: 60rem) {
			order: 1;
		}
		max-width: var(--ohq-size-sidebar);
	}

	/* also see joblist-layout */
	:is(#observablehq-center) {
		max-width: var(--ohq-size-center);
		width: 100%;
	}

	:is(input#observablehq-sidebar-toggle) {
		&:is(:not(:checked)) {
			~ :is([id="observablehq-sidebar"]) {
				display: none;
			}
		}
		&:is(:checked) {
			~ :is([id="observablehq-sidebar"]) {
				position: fixed;
				top: 0;
				bottom: 0;
				@media (min-width: 60rem) {
					position: sticky;
					height: 100%;
				}
			}
			~ :is(#observablehq-sidebar-backdrop)::after {
				content: "";
				position: fixed;
				top: 0;
				width: 100vw;
				height: 100vh;
				opacity: 0.6;
				background-color: var(--c-bg);
			}
			@media (min-width: 60rem) {
				~ :is(#observablehq-sidebar-backdrop)::after {
					display: none;
				}
			}
		}
		&:is(:indeterminate) {
			~ :is([id="observablehq-sidebar"]) {
				display: none;
				@media (min-width: 60rem) {
					position: sticky;
					top: 0;
					display: block;
					height: 100%;
					max-height: 100vh;
					overflow-y: scroll;
				}
			}
		}
	}
}

/* somehow a bug? */
.observablehq-secondary-link-highlight {
	display: none;
}
