joblist-results {
	:is(.search-section) {
		margin-bottom: var(--s);
		display: flex;
		flex-direction: column;
		gap: calc(var(--s) / 2);
	}
	:is(.search-stats) {
		color: var(--c-fg--info);
	}
}
joblist-results a {
	text-decoration: none;
}
joblist-results-404 {
	padding: calc(var(--s) / 4);
	font-style: italic;
	display: inline-flex;
	flex-wrap: wrap;
}
joblist-results-404 a::before,
joblist-results-404 a::after {
	content: "\00a0";
}
