joblist-results a {
	text-decoration: none;
}
joblist-results-404 {
	padding: calc(var(--s) / 4);
	display: inline-flex;
	font-style: italic;
}
joblist-results-404 a::before,
joblist-results-404 a::after {
	content: '\00a0';
}
