joblist-tags joblist-aindex-list ul {
	display: flex;
	flex-wrap: wrap;
	gap: calc(var(--s) / 5);
}
joblist-tag a {
	display: inline-flex;
	align-items: center;
}

joblist-tag-count {
    margin-left: calc(var(--s) / 6);
    opacity: 0.7;
}