/* variables */
:root {
	--c-white: white;
	--c-black: black;
	--c-green: darkgreen;
	--c-gray: gray;
	--c-purple: violet;
	--c-whitesmoke: whitesmoke;
	--c-blue: blue;
	--c-orange: orange;

	--font-family: "IBM Plex Serif", serif;
	--s-font: 19px;
	--s: 1.5rem;
	--s-favicon: calc(var(--s) * 2);
	--s-container: calc(var(--s) * 42);
	--s-border: 0.15rem;
	--s-border-radius: 0.2rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-bg: #151517f7;
		--c-fg: lightgray;
		--c-fg--info: gray;
		--c-link: skyblue;
		--c-link--active: var(--c-purple);
		--c-company: violet;
		--c-tag--fg: var(--c-fg);
		--c-tag--bg: midnightblue;
		--c-position: gray;
		--c-svg: white;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--c-bg: snow;
		--c-fg: var(--c-black);
		--c-fg--info: gray;
		--c-link: var(--c-blue);
		--c-link--active: var(--c-green);
		--c-company: var(--c-green);
		--c-tag--fg: var(--c-fg);
		--c-tag--bg: darkturquoise;
		--c-position: gray;
		--c-svg: black;
	}
}

@media (min-width: 60rem) {
	html {
		--s-font: 21px;
	}
}

@media (min-width: 100rem) {
	html {
		--s-font: 23px;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--c-bg--company: black;
		--c-border--company: gray;
		--c-button: darkblue;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--c-bg--company: snow;
		--c-border--company: lightgray;
		--c-button: lightgray;
	}
}
