joblist-search {
		display: flex;
		justify-content: center;
		align-items: center;
}
joblist-search input {
		flex-grow: 1;
		padding: 0.25rem;
}

joblist-search-results a {
		text-decoration: none;
}

joblist-company {
		display: flex;
		flex-wrap: wrap;
		padding: 0.5rem;
		flex-direction: column;
}

joblist-company-tags {
	display: flex;
	flex-wrap: wrap;
	font-style: italic;
}
joblist-company-tags a:not(:last-child) + a {
		margin-left: 0.5rem;
}

joblist-job {
		display: flex;
		flex-wrap: wrap;
		padding: 0.5rem;
}
joblist-job-company-title {
		margin-right: 0.25rem;
}
